body{
    
}

h1{
    font-family: 'Righteous', cursive;
    font-size: 44px;
    font-weight: 400;
    color: #FFFFFF;
    /*position: fixed;*/
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF
}

h3{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    font-weight: 400;
    color: #333333;
    margin-top: 20px;
}

h4{
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color:#333333

}

h5{
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
}

h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:black;
    
    
}

.topo{
    /*width: 414px;*/
    width: 100%;
    height: 77px;
    background-color: #CF2B2B; 
    padding-left: 20px;
    padding-top: 15px;
    position:sticky;
    
    box-shadow: 10px 10px 8px #BCBCBC;
}

.meio{
    width: 100%;
    /*overflow: scroll;*/
    background-color: #E5E5E5;
}

.variascomidas{
    margin-top: 17px;
    display: flex;
    /*flex-wrap: wrap;*/
    /*overflow: auto;*/
    overflow-x: scroll;
}

.tipocomida{
    margin-top: 20px;
    margin-left: 19px;
}

.comida{
    /*width: 164px;*/
    height: 208px;
    border-radius: 9px;
    margin-right: 19px;
    background-color: #FFFFFF;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #FFFFFF;
    padding: 10px;
       
}

.bordaverde{
    
    border-color: green;
}

.bordaverde2{
    
    border-color: green;
}

.bordaverde3{
    
    border-color: green;
}

.texto{
    height: 63px;
    width: 144px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:space-between;
    
    
}

img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-top: 18px;
    border:14px;
    
    
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbcbcb;
    height: 62px;
    border-radius:25px ;
    margin: 15px 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#FFFFFF;

}

.botaoverde{
    background-color: #32B72F;
}

.baixo{
    position: fixed;

    width: 100%;
    height: 92px;
    background-color: white;
    bottom: 0px;
    margin-top: 100px;
}

.sobremesa{
    margin-bottom: 100px;
}

.conteudo{
    /*position: fixed;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    /*margin: 0px auto;*/
    background-color: aqua;
    justify-content: center;
    align-items: center;
}